html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #95d3db 50%, #d8d6d9 100%);
    font-family: Arial, Helvetica, sans-serif;
   
}
main{
    max-width:800px;
    margin: 0 auto;
    background-color: rgb(227, 241, 241);
   
}
h1{
    color:rgb(240, 101, 101);
    text-align: center;
}
h2{color: #1460aa
}
h3{background-color: darkslateblue;
    max-width: 700px;
    border-right: 30px rgb(79, 189, 183) solid;
}
h3{color: rgb(255, 243, 243);
 }

.box{
    width: 200px;
    height: 200px;
    background-color: rgb(116, 17, 17);
    display: flex;
    justify-content: space-around;
    column-gap: 2rem;
    align-items: center;

}
.box__item{
background-color: #1460aa;
border: 4px solid blueviolet;
width: 3rem;
font-size: 2rem;
height: 6rem;
}
.box__item--even{
  align-self: baseline;
}
.box__item--text{
   
}
.Header__link{
    color:black
}
.header__image{
    width: 50%;
    margin: 5px;
}
.navigation{
    background-color: rgb(71, 126, 0);
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.navigation__link{
    color: #ffffffff;
    line-height: 2.0;
    font-size: 1.5rem;
}
.header{
    background-color:#1460aa ;
    border: 5px solid  rgb(227, 241, 241);

}
.section__article--text{
    padding-left: 16px;
    padding-right: 7em;
}
.footer{
    background-color: rgb(71, 126, 0);
    padding-bottom: 100px;
  
}
.footer__text{
    margin-left: 10%;
    color:#fefefe;
    padding-top: 16px;
}
.footer_text_link{
    color:inherit
}
.section__header{
    margin: 5px;
    vertical-align:middle;
    line-height: normal;
}
.section__header--box{
    background-color: #daafeb;
   border-radius: 100%;
   height: 50px;
   width: 300px;
    display: grid;
    place-items: center;
    margin:auto
}
.section__text{
    background-color: #daafeb;
    padding: 16px;
}
.section__article--header{
    padding-left: 16px;
}
.head{
    position: sticky;
    top: 0;
}
.umineko{
    padding-bottom: 0px;
    margin: 0px;
}
.bottom__text{
    padding-bottom: 0px;
    margin: 0px;
}
