
@import "components/box.scss";
@import "../../node_modules/normalize.css/";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

$tablet: 768px;
$desktop: 1280px;
:root{
    --textColor : rgb(241, 142, 192);
    --backgroundColor: rgb(208, 202, 250);
}
@media(prefers-color-scheme: dark){
    :root{
    --textColor:rgb(204, 199, 199);
    --backgroundColor: rgb(31, 30, 39);
}
}
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
        background-color: #5ff1b9;
background-image: linear-gradient(162deg, #6fffc8 0%, #F7CE68 100%);

    font-family: "Josefin Sans", sans-serif;

}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(227, 241, 241);

}

header {
    min-height: 50px;
    background-color: rgb(71, 126, 0);
    @media screen and (min-width: $tablet){
        background-color: rgb(227, 241, 241);
    }
}

h2 {
    color: #145ba1
}

h3 {
    background-color:var(--backgroundColor);
    max-width: 700px;
    border-right: 30px rgb(79, 189, 183) solid;
}

h3 {
    color: rgb(255, 243, 243);
}

.head {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

.header {
    background-color: #1460aa;
    border: 5px solid rgb(227, 241, 241);
    display: flex;
    justify-content: center;

    &__link {
        color: black;
        background-color: #0093E9;
    }

    &__image {
        width: 100%;
        @media screen and (min-width: $tablet) {
            width: 50%
        }
    }

    &__text {
        font-size: 1.5rem;
        color: rgb(252, 81, 81);
        @media screen and (min-width: $tablet) {
        
          color: #72e1f0;
          font-size: 2.5rem;
        }
        @media screen and (min-width: $desktop) {
                color: #80db44;
                font-size: 2.5rem;
            }
        &::before {
            content: "";
            width: 3vh;
            height: 3vh;
            display: inline-block;
            border-radius: 100px;
            background: #28b870;
        }
    }
}

.navigation {
    background-color: rgb(71, 126, 0);
    display: none;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 50px;
    @media screen and (min-width: $tablet){
        background-color: rgb(71, 126, 0);
        display: flex;
        justify-content: center;
        gap: 1rem;
        flex-direction: row;
        position: static;
    }

    &__open {
        display: flex;
    }

    &__link {
        color: #ffffffff;
        line-height: 2.0;
        font-size: 1.5rem;
        @media screen and (min-width: $tablet) {
            color: #ffffffff;
            line-height: 2.0;
            font-size: 1.5rem;
        }
    }
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section__article{
    @media screen and (min-width: $tablet) {
     flex: 1 1 0;
     width: 0;
        }
}
.section__article--header {
    padding-left: 16px;
    color: var(--textColor);
}

.section__article--text {
    padding-left: 16px;

}

.section__header {
    margin: 5px;
    vertical-align: middle;
    line-height: normal;
}

.section__header--box {
    background-color: #daafeb;
    border-radius: 100%;
    height: 50px;
    width: 300px;
    display: grid;
    place-items: center;
    margin: auto;
    grid-column: 1/3;
}

.section__text {
    background-color: #daafeb;
    padding: 16px;
    grid-column: 1/3;
}

.footer {
    background-color: rgb(71, 126, 0);
    padding-bottom: 100px;
    display: flex;
    justify-content: center;

    &__text {
        color: #fefefe;
        padding-top: 16px;

        &--link {
            color: inherit
        }
    }
}

.umineko {
    padding-bottom: 0px;
    margin: 0px;

}

.article__pair {
    grid-column: 1 /3;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet){
        grid-column: 1 /3;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    }
}

.image__container {
    display: flex;
    justify-content: center;
}

.hamburger {
    padding: 4px;
    background-color: rgb(71, 126, 0);
    border: 0;
    font-size: 2.5rem;
    @media screen and (min-width: $tablet) {
     display: none;
    }
}
